body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: rgb(179, 0, 0);
  --third-color: black;
  --text-color: #818181;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

/*#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#* Startsida *#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#*/

/* Start landningssida */
.landing-page {
  min-height: 100vh;
  background-image: url(../imgs/background.jpg);
  background-size: cover;
  position: relative;
  margin-top: 80px;
  min-height: 80vh;
}
.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0 5%;
  height: 80px;
  background-color: black;
}
/* #585858 */
nav .main-logo {
  float: left;
  width: 40%;
  height: 60%;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
}
nav .main-logo a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}
nav .main-logo a span {
  color: #fff;
  padding-left: 5px;
}
nav .main-logo a strong {
  color: var(--main-color);
}
/* nav .main-logo img{} */
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  transition: 0.5s;
}
nav .links a:hover {
  color: blue;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

/* Stop */
.introduction-text {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: #fff;
  text-align: center;
  width: 95%;
}
.mitt {
  margin-left: 15%;
  margin-right: 15%;
}
.introduction-text .lead {
  font-size: 30px;
  color: #c1bcbc;
}
@media (max-width: 767px) {
  .introduction-text .lead {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .introduction-text .lead {
    text-align: center;
  }
}
.introduction-text p:nth-of-type(2) {
  color: #ccc5c5;
  font-weight: 200;
}
@media (max-width: 991px) {
  .introduction-text p:nth-of-type(2) {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .introduction-text p:nth-of-type(2) {
    font-size: 14px;
  }
}
.introduction-text button {
  background: transparent;
  border: 2px solid #c1bcbc;
  padding: 5px 15px;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.introduction-text a {
  text-decoration: none;
}
.introduction-text button:hover {
  background: #fff;
  color: #000;
}
@media (max-width: 991px) {
  .introduction-text button {
    margin: 30px auto;
    display: block;
  }
}
/* Slut landningssida */

/* Start Socialamedia */
.social {
  padding: 10px 0;
  box-shadow: -2px -5px 13px #000;
  background-color: #fff;
}
.social .social-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .social .social-main {
    display: block;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .social h4 {
    margin-bottom: 10px;
  }
}
.social p {
  color: var(--text-color);
  max-width: 100%;
}
.social img {
  color: #b9b6b6;
  margin: 20px 15px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  font-size: 40px;
}
@media (max-width: 767px) {
  .social img {
    margin: 10px 15px;
    font-size: 30px;
  }
}
/* Slut Socialamedia */

/* Start Varför Vi */
.why-us {
  padding: 25px 0;
  margin: 30px 0;
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 10px;
}
@media (max-width: 991px) {
  .why-us {
    grid-template-columns: 1fr;
  }
}
.why-us .content .head-content {
  position: relative;
}
@media (max-width: 991px) {
  .why-us .content {
    margin-left: 33px;
  }
}
.why-us .content .head-content:before {
  position: absolute;
  content: '';
  display: block;
  background-color: var(--main-color);
  width: 2px;
  height: 80px;
  left: 0;
  left: -5%;
}
.why-us .content .head-content h2 {
  font-size: 28px;
  line-height: 1.3em;
}
.why-us .content .head-content h4 {
  font-size: 18px;
  line-height: 1.6em;
  color: var(--main-color);
}
.why-us .content p {
  font-weight: 400;
  font-size: 15px;
}
.why-us .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: start;
}
.why-us .boxes .box {
  border: 2px solid rgba(0, 0, 0, 0.07);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s ease;
}
.why-us .boxes .box:hover {
  background-color: #333;
  color: #fff;
}
.why-us .boxes .box:hover i,
.why-us .boxes .box:hover h5 {
  color: #fff;
}

@media (max-width: 767px) {
  .why-us {
    margin: 20px 0 0;
  }
  .why-us .boxes {
    grid-template-columns: 1fr;
  }
  .why-us .boxes .box {
    padding: 10px;
  }
}
.why-us .boxes .box i {
  color: var(--main-color);
}
.why-us .boxes .box p {
  color: var(--text-color);
}
/* Slut Varför vi */

/* Start Om oss */
.about-us {
  padding-top: 25px;
  padding-bottom: 25px;
}
.about-us .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.about-us .boxes .info-box h2 {
  margin-top: 0;
  color: var(--main-color);
}
.about-us .boxes .info-box p {
  color: var(--text-color);
  line-height: 1.5;
}
@media (max-width: 767px) {
  .about-us .boxes {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.about-us .boxes .image-box img {
  max-width: 100%;
  max-height: 100%;
}
/* Slut Om oss */

/* Start statistik  */
.stats {
  padding: 100px 0;
  color: #08526d;
  background: url(../imgs/background2.jpg) no-repeat center center fixed;
  min-height: 300px;
  background-size: cover;
  margin: 60px 0;
}
@media (max-width: 991px) {
  .stats {
    background-attachment: initial;
    padding: 20px;
  }
}
.stats .all-stats {
  display: grid;
  color: #b6b5b5;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 767px) {
  .stats .all-stats {
    grid-template-columns: 1fr 1fr;
    padding: 10px 0;
  }
  .stats {
    padding: 20px;
  }
}
.stat-box {
  margin-bottom: 20px;
}
.stats span {
  display: block;
  font-size: 50px;
  font-weight: bold;
}
.stats p {
  color: var(--main-color);
  font-size: 20px;
  color: #b6b5b5;
}
@media (max-width: 767px) {
  .stats span {
    font-size: 20px;
  }
  .stats p {
    font-size: 15px;
  }
}
/* Slut statistik  */

/* Start Omdömen */
.testimonials {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
}
.testimonials:before {
  content: '';
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  height: 100%;
}
.testimonials:after {
  content: '';
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: blue;
  height: 100%;
}
.testimonials h2 {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin: 0 0 30px;
  text-align: left;
  position: relative;
  z-index: 2;
}
.testimonials .ts-box {
  position: relative;
  z-index: 2;
  width: calc(97% / 3);
  float: left;
  background-color: #fff;
  padding: 20px;
  font-size: 22px;
  border-radius: 6px;
  text-align: center;
  height: 453px;
}
.testimonials .ts-box img {
  border-radius: 50%;
  width: 100px;
  height: 93px;
}

.testimonials .ts-box:not(last-of-type) {
  margin-right: 1%;
}
.testimonials .ts-box .person-info {
  overflow: hidden;
}
.testimonials .ts-box > p,
.testimonials .ts-box .person-info > p {
  color: #707070;
}

.testimonials .ts-box .person-info > h4 {
  color: #333;
}
@media (max-width: 991px) {
  .testimonials .ts-box .person-info {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .testimonials .ts-box > p {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .testimonials .ts-box {
    width: 100%;
    margin-bottom: 10px;
    height: 350px;
  }
}
@media (max-width: 767px) {
  .testimonials h2 {
    text-align: center;
  }
}
.clearFix {
  clear: both;
}
/* Slut Omdömen */

/* Kontakt */
.contact-us {
  padding: 100px 0;
  background: url(../imgs/t.jpg) no-repeat center center;
  min-height: 500px;
  background-size: cover;
  position: relative;
  color: #fff;
}
.contact-us .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.contact-us .addresses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-us .addresses {
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .contact-us .addresses .openhours {
    grid-column: 1/4;
    margin: 0 auto;
    /* display: block; */
  }
}
@media (max-width: 767px) {
  .contact-us .addresses {
    grid-template-columns: 1fr;
    margin-left: 20px;
  }
  .contact-us {
    padding: 30px 0;
  }
}
.contact-us .addresses .workshop .text {
  display: flex;
  align-items: center;
}
.contact-us .addresses .workshop p {
  color: #d4d0d0;
}
.contact-us .addresses .workshop .text i {
  margin-right: 10px;
}
.contact-us .addresses .workshop .text h1 {
  font-size: 30px;
  margin: 0;
}
.contact-us .addresses .workshop .text p {
  margin: 0;
  font-size: 10px;
  color: #d4d0d0;
}
.contact-us .addresses .workshop .contact i {
  color: var(--main-color);
}

.contact-us .addresses .sm-services h2 {
  margin-bottom: 10px;
}
.contact-us .addresses .sm-services p {
  text-indent: 15px;
  padding-bottom: 10px;
  width: 80%;
  border-bottom: 1px dotted #d4d0d0;
  color: #d4d0d0;
  display: block;
}
.contact-us .addresses .openhours p {
  text-indent: 0;
  display: flex;
  justify-content: space-between;
}
.contact-us .call {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-us .call .call-us p {
  color: #d4d0d0;
}
@media (max-width: 767px) {
  .contact-us .call {
    display: block;
    margin-left: 20px;
  }
}
.contact-us .call .subscripe input {
  outline: none;
  min-height: 40px;
  min-width: 300px;
  margin-bottom: 30px;
}
.contact-us .call .subscripe a {
  text-decoration: none;
  padding: 10px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 4px;
}
/* Slut Kontakt */

/* Start Footer */
.footer {
  background-color: black;
  color: var(--text-color);
  padding: 15px;
}
.footer .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer .boxes p {
  margin-left: 10px;
  text-align: center;
}
.footer .boxes ul {
  text-decoration: none;
}
@media (max-width: 767px) {
  .footer .boxes {
    grid-template-columns: 1fr;
  }
  .footer .boxes .foot-social {
    text-align: center;
  }
}
.footer .boxes ul li {
  list-style: none;
}
.footer .boxes ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.footer .boxes .pages {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.footer .boxes .foot-social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer .boxes .foot-social img {
  width: 20px;
  height: 20px;
}
/* Slut Footer */

/*#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#* Tjänster sida *#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#*/

/* Start Tjänster */
.section-head {
  margin-bottom: 60px;
  margin-top: 30px;
  text-align: center;
}
.feat .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
@media (min-width: 578px) and (max-width: 991px) {
  .feat .items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .feat .items {
    grid-template-columns: 1fr;
  }
}
.item {
  text-align: center;
  padding: 30px 25px;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.07);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.item .icon {
  font-size: 40px;
  margin-bottom: 25px;
  color: var(--main-color);
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}

.item p {
  font-size: 15px;
  line-height: 26px;
  color: #818181;
}
.item h6 {
  margin-bottom: 20px;
  color: #2f2f2f;
}
@media (max-width: 576px) {
  .item {
    padding: 15px 10px;
  }
  .item .icon {
    line-height: 40px;
  }
}
/* Slut Tjänster */

/* Start statistik */
.stats.service-page {
  padding: 40px 0;
  background: url(../imgs/wash2.jpg) no-repeat center center fixed;
  min-height: 200px;
}

@media (max-width: 576px) {
  .stats.service-page .all-stats {
    grid-template-columns: 1fr;
  }
}
.stats.service-page .stat-box {
  color: #fff;
}
.stats.service-page .stat-box p {
  font-size: 20px;
  color: #fff;
}
.stats.service-page .state-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats.service-page .stat-box .state-info span {
  font-size: 40px;
}
.stats.service-page .state-info i {
  font-size: 30px;
}
@media (max-width: 767px) {
  .stats.service-page .stat-box .state-info span {
    font-size: 20px;
  }
  .stats.service-page .stat-box p {
    font-size: 15px;
  }
}
/* Slut statistik */

/* Tjänster */
.offers {
  margin: 60px 0;
  padding: 40px 0;
}
.offers .boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .offers .boxes {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .offers .boxes {
    grid-template-columns: 1fr;
  }
}
.offers .boxes .box {
  background-color: #fff;
}
.offers .boxes .box img {
  max-width: 100%;
  min-height: 300px;
}

.offers .boxes .box h2 {
  font-size: 20px;
  margin-left: 20px;
}
.offers .boxes .box p {
  font-size: 20px;
  margin-left: 20px;
  color: var(--text-color);
  font-size: 14px;
}
.offers .boxes .box .content {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 15px;
}
.offers .boxes .box .content .btn {
  padding: 13px 13px;
}
.offers .boxes .box .content p span {
  color: var(--main-color);
  font-size: 16px;
}
/* Slut Tjänster */

/* Start Beskrivning */
.explain {
  padding-bottom: 60px;
}
.explain .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (max-width: 767px) {
  .explain .boxes {
    grid-template-columns: 1fr;
  }
}
.explain .boxes .box1 h1 {
  font-size: 18px;
  margin-top: 0;
}
.explain .boxes .box1 p {
  font-size: 14px;
  color: var(--text-color);
  margin: 20px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .explain .boxes .box1 p {
    margin: 10px 0;
  }
}
.explain .boxes .box1 .benfits {
  display: flex;
  align-items: center;
}
.explain .boxes .box1 .benfits i {
  margin-right: 12px;
  color: var(--main-color);
}
.explain .boxes .box2 img {
  max-width: 100%;
  min-height: 280px;
}
/* Slut Beskrivning */

/* Start Services */
.features {
  padding: 50px 0;
}
.features .info .lines {
  margin-bottom: 40px;
}

.features .all-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media (max-width: 991px) {
  .features .all-features {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .features {
    padding: 20px 0;
  }
  .features .all-features {
    grid-template-columns: 1fr;
  }
}
.features .all-features .feature {
  background-color: #fff;
}
.features .all-features .feature .info-img {
  padding: 15px;
}
.features .all-features .feature .info-img p {
  color: var(--text-color);
}
.features .all-features .feature .main-logo {
  font-size: 20px;
}
.features .all-features .feature img {
  max-width: 100%;
  min-height: 353px;
}
/* End Services */

/*#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#* Sign Up sida *#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#*/

/* Start Sign Up */
.signup {
  padding: 100px 0;
  text-align: center;
}
.signup .field {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .signup {
    padding: 30px 0;
  }
  .signup .field {
    margin-bottom: 20px;
  }
}
.signup label {
  display: block;
  margin: 10px 0;
  color: rgb(49 49 49);
  font-size: 14px;
  text-align: start;
  margin-left: 10%;
}
.signup input {
  width: 80%;
  max-width: 80%;
  height: 40px;
  outline: none;
  background: #f2f2f2;
  border: none;
  padding: 15px;
}
.signup .field-check {
  text-align: start;
  margin-left: 10%;
  display: flex;
  align-items: center;
}
.signup .check {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.signup .field-check span {
  text-transform: capitalize;
  font-size: 14px;
}
.signup .register {
  width: 80%;
  max-width: 80%;
  height: 45px;
}

.signup .checkLogin {
  text-align: start;
  margin-left: 10%;
}
.signup .checkLogin span {
  font-size: 13px;
  color: var(--text-color);
  margin-right: 5px;
}
.signup .checkLogin a {
  color: var(--main-color);
  text-decoration: none;
}
/* End Sign Up */

/*#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#* Login Up sida *#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#*/

/* Start Login */
.signup.login .field-check {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 25%;
}
.signup.login .field-check a {
  text-decoration: none;
  color: var(--main-color);
}
.signup.login input {
  width: 50%;
  max-width: 50%;
}

.signup.login label {
  margin-left: 25%;
}
.signup.login .register {
  width: 50%;
  max-width: 50%;
}
@media (max-width: 767px) {
  .signup.login input {
    width: 100%;
    max-width: 100%;
  }
  .signup.login .register {
    width: 100%;
    max-width: 100%;
  }
  .signup.login label {
    margin-left: 0;
  }
  .signup.login .field-check {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
}
/* Slut Login */

/*#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#* Skicka Meddelande *#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#*/

/* Start Skicka Meddelande */
.send-msg {
  margin: 60px 0;
  padding: 30px 0;
  background: url(../imgs/repair3.jpg) no-repeat center center;
  /* min-height: 300px; */
  background-size: cover;
  position: relative;
  z-index: 999;
}
.send-msg h2 {
  color: #fff;
  color: red;
}
.send-msg .all {
  z-index: 4;
}

.send-msg .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.send-msg .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  color: var(--text-color);
  z-index: 999;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .send-msg .boxes {
    grid-template-columns: 1fr;
    margin-left: 20px;
  }
}
.send-msg .boxes .box1 {
  margin-top: 10px;
  z-index: 2;
}
.send-msg .boxes .box1 > div {
  margin-bottom: 0.6em;
}
.send-msg .boxes .box1 p,
.send-msg .boxes .box1 span {
  color: #fff;
  font-size: 16px;
}
.send-msg .boxes .box1 h3 {
  margin: 0;
  color: var(--main-color);
  font-size: 22px;
}
.send-msg .boxes .box1 p {
  margin: 0;
  padding: 0;
}
.send-msg .boxes .box2 {
  z-index: 2;
  color: #fff;
}

.send-msg .boxes .box2 .sm-boxes label {
  display: block;
  margin: 5px 0;
  font-size: 14px;
}
.send-msg .boxes .box2 .sm-boxes input {
  width: 80%;
  max-width: 80%;
  height: 40px;
  outline: none;
  background: #f2f2f2;
  border: none;
  padding: 15px;
}
.send-msg .boxes .box2 .sm-boxes textarea {
  width: 80%;
  max-width: 80%;
  height: 100px;
  outline: none;
}
.send-msg .boxes .box2 .sm-boxes .btn {
  width: 20%;
  max-width: 20%;
  height: 38px;
  text-align: center;
  padding-top: 7px;
  border-radius: 28px;
  border-bottom: 2px;
  margin-top: 10px;
}
/* Slut Skicka Meddelande */

/*#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#* My Own custom css *#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#*/

/* Start Own CSS */
.text-center {
  text-align: center;
}
.lines {
  margin: 0;
  font-weight: bold;
  position: relative;
}
.lines:before {
  position: absolute;
  content: '';
  width: 57px;
  height: 1px;
  background-color: #000;
  display: block;
  left: 39%;
  top: 11px;
}
.lines:after {
  position: absolute;
  content: '';
  width: 57px;
  height: 1px;
  background-color: #000;
  display: block;
  right: 39%;
  top: 11px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .lines:before {
    left: 32%;
  }
  .lines:after {
    right: 32%;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .lines:before {
    left: 27%;
  }
  .lines:after {
    right: 27%;
  }
}
@media (max-width: 576px) {
  .lines:before {
    left: 12%;
  }
  .lines:after {
    right: 12%;
  }
}
.main-logo {
  font-weight: bold;
  font-size: 30px;
}
@media (max-width: 767px) {
  .main-logo h1 {
    text-align: center;
    font-size: 40px;
  }
}
.main-logo span {
  font-weight: normal;
  color: rgb(179, 0, 0);
}
.btn {
  outline: none;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.btn:hover {
  opacity: 0.9;
}
/* End Own Framework */

/*#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#* Grid System *#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#**#*#*#*#*/

/* Start Grid System */
@media (min-width: 576px) {
  /* small Devices => Phone */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /* Medium Devices => Tablets */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* Desktops */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* Large Devices*/
  .container {
    max-width: 1140px;
  }
}
/* End Grid System */
